FRONTEND_BASE_URL=https://pau7196533-lang.github.io/multitranslator/public/
CORS_ORIGIN=https://pau7196533-lang.github.io,https://mulittranslator.netlify.app
HTTPS=false
PUBLIC_BASE_URL=https://prismtalk-realtime.onrender.com
GOOGLE_TRANSLATE_API_KEY=
GOOGLE_SPEECH_API_KEY=
