FRONTEND_BASE_URL=https://mulittranslator.netlify.app
CORS_ORIGIN=https://mulittranslator.netlify.app
HTTPS=false
PUBLIC_BASE_URL=https://prismtalk-realtime.onrender.com
GOOGLE_TRANSLATE_API_KEY=
GOOGLE_SPEECH_API_KEY=
